<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiscus.mychatui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.EditRoomNameActivity" />
        <activity android:name=".ui.RoomInfoActivity" />
        <activity android:name=".ui.EditNameActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.ContactActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.SelectContactActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.CreateGroupActivity"
            android:noHistory="true" />
        <activity android:name=".ui.ChatRoomActivity" />
        <activity android:name=".ui.QiscusSendPhotoConfirmationActivity" />
        <activity android:name=".ui.GroupChatRoomActivity" />
        <activity
            android:name=".ui.groupchatcreation.GroupChatCreationActivity"/>
        <activity android:name=".ui.addmember.AddGroupMemberActivity" />

        <receiver
            android:name=".service.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qiscus.OPEN_COMMENT_PN" />
            </intent-filter>
        </receiver>

        <service android:name=".service.AppFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.qiscus.sdk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qiscus_provider_paths" />
        </provider>
    </application>

</manifest>